/* OFFICIAL AVJ CSS
 * Last edited by luuk2305 @ 1:08 PM UTC+1, DST
**/


/*
 * Fancy sidebar & sidebar headings
 **/
.titlebox blockquote {
    border: 1px solid #AAA;
    text-shadow: 0 1px 0 white;
    color: #787878;
    font-weight: bold;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }
.sidecontentbox .content, .linkinfo, .footer {
    background: transparent !important;
    border: 1px solid #AAA;
    margin: 7px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
    }
.link.last-clicked {
    overflow: hidden
    }
.linkinfo {
    margin-bottom: 10px
    }
.titlebox {
    padding: 10px;
    background: transparent !important; /*Sidebar Background color*/
    border: 1px solid #AAA; /*Sidebar border color*/
    color: #787878; /*Text color in sidebar*/
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }
.titlebox .bottom {
    border: 0
    }
.titlebox form.toggle {
    background-color: transparent
    }
.titlebox .usertext {
    margin: 15px 0;
    line-height: 120%;
    font-size: small
    }
.titlebox .usertext .md {
    margin: 0;
    padding: 0;
    overflow: visible
    }
.titlebox .usertext .md h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #eee; /*Text color of ##*/
    background-color: #787878; /*Background color of ##*/
    }
.titlebox .usertext .md > h1 {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: medium !important;
    background-color: #3399cc; /*Background color of #*/
    color: #eee; /*Text color of #*/
    width: 288px;
    padding: 5px 10px;
    padding-left: 20px;
    padding-right: 0;
    margin-right: 13px;
    margin-left: -18px;
    border-bottom: 1px solid #3399cc; /*Border of #*/
    margin-bottom: 5px;
    margin-top: 10px;
    z-index: 100
    }
.res-nightmode .usertext .md > h1 {
background-color: #377798; /*Nightmode fix for #*/
border-bottom: 1px solid #377798;
}
.titlebox .usertext .md > h1:after {
    display: block;
    content: "";
    border-color: transparent #23698c transparent transparent; 
  /*Color of the little triangle^*/
    border-style: solid;
    border-width: 15px;
    height: 0px;
    width: 0px;
    position: absolute;
    z-index: -1;
    margin-left: -35px;
    margin-top: -10px
    }

/*
 * -----------------
 * Y U NO SHOUT?! 

body {
    text-transform: uppercase;
} */


/* --------------------------------------- 
 *
 * May add this at a later date
 * Subscriber warning
 */
.content:before{  
content: url(%%warning%%) " You're not subscribed to /r/AppleVilleJock yet! Click the subscribe button on the right to add the subreddit to your    frontpage ";
margin:4px;
color:#2e2e2e;
}
.subscriber .content:before{
content: " " !important;
}
.side .content:before {
content: " " !important
}

/* --------------------------------------- 
 * 
 * Downvote hover warning */
.arrow.down:hover:before {
position: absolute;
display: block;
z-index: 1000;
width: 210px;
padding: 5px;
border: 0px solid #333;
background: #fca;
content: " Don't downvote simply because you don't agree";
text-align: center;
font-size: 10px;
color: red;
margin-left: 25px;
margin-top: 5px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-border-radius: 4px

}
.edited-timestamp[title]:after {
    content: " (" attr(title) ")";
    font-size: 90%;
}
.comment .md a:after {
    content: ' [' attr(href) ']';
    color: #f00;
}
.comment .md .userTagLink:after,
.comment .md .voteWeight:after,
.comment .md .userTagged:after,
.comment .md .image:after {
content: " ";
}
/*Makes all usernames rainbow, because why not*/
/*Rainbow*/
a[href*="/user/luuk2305"] {
    color:white!important;
    background: red;
    padding: 1px;
    border-radius: 5px;
}
a[href*="/user/luuk2305"]:after {
    content: " [Co-founder of reddit]";
}
a[href*="/user/Waka_Blocka"] {
    color:white!important;
    background: darkgreen;
    padding: 1px;
    border-radius: 5px;
}
a[href*="/user/Waka_Blocka"]:after {
    content: " [M]";
}
 /*Changes the name of your subscribers/users here now*/
  .titlebox .word { display: none }
  .titlebox .number:after { content: " people are awesome"; }
  .titlebox .users-online span.number:after { content: " awesome people are here now"; }
.thing:not(.linkflair) .flairselectbtn::after {
    content: "Add a flair!";
    margin-left: 10px;
    outline: 1px solid red;
}
a.title:before {
    line-height: 18pt
}
.linkflairlabel {
    margin-right: 3px;
    border-radius: 2px;
    font-family: Futura, Arial, sans-serif;
    font-size: 0.85em;
    border: 2px dashed #ddd;
    padding: 0 2px;
    cursor: text;
    font-variant: small-caps;
}
.linkflair-video {
    color: #BA0000;
    content: "video";
}
a[href*="/user/ElGusMan"]:after {
    content: " [M]";
}
a[href*="/user/ElGusMan"] {
    color:white!important;
    background: darkgreen;
    padding: 1px;
    border-radius: 5px;
}
/*
 * Rounded tabmenu
 */
ul.tabmenu li a {
    color: black;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
ul.tabmenu li {
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pagename a {
    background: url(%%logo%%) no-repeat;
    display: inline-block;
    width: 150px; /*Edit to your images proportion*/
    height: 218px;
    text-indent: -9999px;
}
#header-img {
    display: none;
}